body,
html {
    margin: 0;
    padding: 0;
}

.preview-item {
    width: 210mm; /* A4 width in millimeters */
    height: 297mm; /* A4 height in millimeters */
    margin: 0 auto; /* Center the content on the page */
    padding: 10mm; /* Adjust padding as needed */
    border: 1px solid #000; /* Border color */
    background-color: #fff; /* Background color */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    page-break-before: always; /* Force a page break before each .preview-item */
}

.preview-item h1,
.preview-item h3,
.preview-item p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-md-6 {
    width: 50%;
    float: left;
}

@media print {
    .preview-item {
        page-break-before: auto; /* Reset to default value */
    }
}
